.container {
  display: flex;
  flex-direction: column;
  
  .header, .footer {
    text-align: center;

    .header-left {
      float: left;
    }

    .header-right {
      float: right;
    }
  }

  .footer > button {
    margin: 16px 4px 0 4px;
    min-width: 75px;
    min-height: 30px;
  }

  .game-container {
    background-color: #ddd;
    min-height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    touch-action: none;
  }
}