.container {
  display: flex;
  flex-direction: column;
  
  .header {
    text-align: center;

    .header-left {
      float: left;
    }

    .header-right {
      float: right;
    }
  }

  .game-footer {
    text-align: center;

    & > button {
      margin: 16px 4px 0 4px;
      min-width: 75px;
      min-height: 30px;
    }
  }
  .game-container {
    background-color: #ddd;
    min-height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    touch-action: none;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #666;
  }
}